In [1]:
import math
import numpy as np
import pandas as pd

In [54]:
indicadores = 10
window_size = 10
timestep = 0
data = pd.read_parquet('resultadoIndicadores.parquet')

In [55]:
def indicadores(data, indicadores):
    for i in range(0, indicadores):
        if i == 0:
            globals()['df_' + str(data.columns[i])] = data.iloc[:,0:1 ]
        else:
            globals()['df_' + str(data.columns[i])] = data.iloc[:,i:i+1 ]

In [43]:
def state_creator(data, timestep, window_size, indicadores):
    starting_id = timestep - window_size + 1
    for i in range(0, indicadores):
        if i == 0:
            globals()['df_' + str(data.columns[i])] = data.iloc[:,0:1 ]
            
        else:
            globals()['df_' + str(data.columns[i])] = data.iloc[:,i:i+1 ]
            lista_indicadores.append('df_' + str(data.columns[i]))

In [48]:
starting_id = starting_id = timestep - window_size + 1
if starting_id >= 0:
    windowed_data = lista_indicadores[0][starting_id:timestep+1]
else:
    windowed_data = - starting_id * lista_indicadores[0] + list(lista_indicadores[0][0:timestep+1])

TypeError: can only concatenate str (not "list") to str

In [53]:
lista_indicadores.replace

AttributeError: 'list' object has no attribute 'replace'

In [2]:
def sigmoid(x):
  return 1 / (1 + np.exp(-x))


def state_creator(data, timestep, window_size):
    for i in range(0, len(lista_indicadores)):
       starting_id = starting_id = timestep - window_size + 1

       if starting_id >= 0:
          windowed_data = i[starting_id:timestep+1]
       else:
          windowed_data = - starting_id * [i[0]] + list(i[0:timestep+1])
       
  


  
  # starting day of our state
    starting_id = timestep - window_size + 1
  
  if starting_id >= 0:
    windowed_data = data[starting_id:timestep+1]
  else:
    # Replicate member (data[0]) needed times
    windowed_data = - starting_id * [data.iloc[0]] + list(data[0:timestep+1])
    
  state = []
  # Iterate trough whole windowed_data minus current state (-1)
  for i in range(window_size - 1):
    # Normalize the difference from current day and the next day
    # Because the prices can be very different and we want them on same scale
    state.append(sigmoid(windowed_data[i+1] - windowed_data[i]))
    
  return np.array([state])

In [27]:
window_size = 10
data = pd.read_parquet('resultadoIndicadores.parquet')

In [19]:
data.columns[0]

'SMA_5'

In [38]:
indicadores = 10
window_size = 10
timestep = 0
lista_indicadores = []
for i in range(0, indicadores):
    if i == 0:
        globals()['df_' + str(data.columns[i])] = data.iloc[:,0:1 ]
        lista_indicadores.append('df_' + str(data.columns[i]))
    else:
        globals()['df_' + str(data.columns[i])] = data.iloc[:,i:i+1 ]
        lista_indicadores.append('df_' + str(data.columns[i]))

In [39]:
lista_indicadores

['df_SMA_5',
 'df_SMA_21',
 'df_SMA_63',
 'df_EMA_5',
 'df_EMA_21',
 'df_EMA_63',
 'df_WMA_5',
 'df_WMA_21',
 'df_WMA_63',
 'df_middle']

In [18]:
data.iloc[0:, 1:2]

                SMA_21
Date
2020-04-01  146.202915
2020-04-02  145.497950
2020-04-03  144.924388
2020-04-06  145.094980
2020-04-07  145.688369
...                ...
2023-10-02  325.840001
2023-10-03  325.112858
2023-10-04  324.418097
2023-10-05  323.774286
2023-10-06  323.648096

[886 rows x 1 columns]